@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,
:root {
  --green_color: #059669; /* Define your custom color */
}
#root{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}
.uploadsection{
  background: rgb(15,23,42);
background: linear-gradient(180deg, rgba(15,23,42,1) 50%, rgba(255,255,255,1) 50%);
}
.upload-card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(0,0,0,0.2);
  border-radius:5px;
}


